EXPO_PUBLIC_SUPABASE_URL=https://rmzuxzedvwwwqaikfltc.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJtenV4emVkdnd3d3FhaWtmbHRjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI1NzAxMTgsImV4cCI6MjA5ODE0NjExOH0.26kCTJ_1tEkLjBVtxb1utubDru2UynOjQb-x4h3SLRE
EXPO_PUBLIC_TMDB_API_KEY=d6770998f48a20cc23bfec95cba99b8d

